{% extends 'base.html.twig' %}

{% block body %}
    <h1>Images</h1>

    <table>
        <tbody>
            <tr>
                <th>Imageid</th>
                <td>{{ image.imageId }}</td>
            </tr>
            <tr>
                <th>Imagelink</th>
                <td>{{ image.imageLink }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('image_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('image_edit', { 'id': image.imageId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
